.b{
    height: 100px;
    width: 100px;
    background-color: crimson;
    margin-bottom: 5px;
    text-align: center;
}
.box1{
   float: right;
   width: 100%;
   height: 40px;
}

.box2{
    background-color: tomato;
    float: right;
    clear: both;
       height: 500px;
       

    
}

.box3{
    background-color: teal;
    float: right;
    width: 68%;
    height: 500px;
    margin-right: 10px;
    /* clear: both; */
}


.box4{
    background-color: cadetblue;
    float: left;
    /* clear: both; */
    height: 500px;
    width: 117px;
    
}
.box5{
    float: left;
    clear: both;
    width: 100%;
    height: 40px;
}
.nav1{
    background-color: pink;
    /* display: inline; */
    float: right;
    padding: 10px;
    margin-right: 10px;
    height: 10px;
    margin-top: 5px;

    
}

.nav2{
    background-color: orange;
    /* display: inline; */
    float: right;
    padding: 10px;
    margin-right: 10px;
    height: 10px;
    margin-top: 5px;

}
.nav0{
    background-color: aqua;
    float: left;
    margin: 5px 5px 5px 30px;
    padding: 5px;
}


.box3-1{
    background-color: blue;
    width: 120px;
    height: 100px;
    margin-bottom: 3px;
    float: right;
    margin: 50px 20px;
}

.box3-2{
    background-color: blue;
    width: 120px;
    height: 100px;
    margin-bottom: 3px;
    float: right;
    margin: 50px 20px;
    

}

.box3-3{
    background-color: blue;
    width: 120px;
    height: 100px;
    margin-bottom: 3px;
    float: right;
    margin: 50px 20px;

}

.box3-4{
    background-color: blue;
    width: 100%;
    height: 100px;
    clear: both;

}

